form label{
  display: block;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type=text] {
  width: 100%;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

input [type="checkbox"]{
  color: red;
  font-size: 26px;
}

form input[type="checkbox"] +label {
  display: inline;
  color: #000;
  font-size: 18px;
}

form button {
  padding: 2px 10px;
  border-radius: 5px;
  border: 2px solid lightgray;
  border-color: lightgray;
  font-family: Tahoma;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  margin: 0 10px 5px 10px;
}

